@charset "UTF-8";

.container.py-4 {
	text-align: center;
}

.marginAuto {
	margin: 0 auto;
}

.cart {
	height: 210px;
	margin-bottom: 80px;
	overflow-y: scroll;
}

.cart .form-control-plaintext {
	width: 25%;
}

.delete {
	z-index: 100;
}

.totalPrice {
	right: 7%;
	z-index: 0;
}

.footer {
	text-align: center;
	margin-bottom: 15px;
}