@charset "UTF-8";

.container.py-4 {
	text-align: center;
}

.marginAuto {
	margin: 0 auto;
}

.mainBgColor {
	background-color: #708090;
	border-radius: 10px;
}

.font-bold {
	font-weight: bold;
}

.cart {
	height: 210px;
/* 	margin-bottom: 80px; */
	overflow-y: scroll;
	background-color: #fff;
}

.cart .form-control-plaintext {
	width: 25%;
}

.delete {
	z-index: 100;
}

.totalPrice {
	right: 7%;
	bottom: 2%;
	z-index: 0;
}

.amountBtn {
	height: 38px;
}

.footer {
	text-align: center;
	margin-bottom: 15px;
}